@import 'styles/variables';

.schedule {
  display: grid;
  flex: 1;
  grid-gap: 1rem 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto repeat(2, 1fr);
  margin-right: 1rem;
  margin-top: 1rem;
}

.day-of-week {
  color: var(--fontColorAccent);
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}
