@import '../../styles/variables';

.day-planner {
  background-color: $green;
  display: flex;
  flex-direction: column;
  margin-right: -4rem;
}

.day-planner-header {
  align-items: center;
  display: flex;
}

.day-planner-day {
  flex: 1;
  text-align: center;
}

.day-selector-icon {
  font-size: 1.5rem;
}

.day-planner-meals {
  background: transparent;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
