@import 'styles/variables';

.day-planner {
  margin-right: -4rem;
}

.day-planner-header {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.day-planner-day {
  flex: 1;
  text-align: center;
}

.day-selector-icon {
  font-size: 1.5rem;

  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.day-planner-meals {
  background: transparent;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
