@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins&display=swap');

// Colors (general)
$accentColor: #ff7260;
$bgColor: #505050;
$fgColor: #fff5c3;
$primaryColor: #9bd7d5;

// Colors (meals)
$breakfast: adjust-hue($accentColor, 20%);
$lunch: adjust-hue($primaryColor, -20%);
$dinner: adjust-hue($accentColor, -20%);

// Fonts
$bodyFont: 'Poppins', sans-serif;
$accentFont: 'Gloria Hallelujah', cursive;
