@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins&display=swap');

/* https://www.canva.com/colors/color-palettes/vanilla-frosted-cupcake-2/ */
// Colors
$bgColor: #00b6bc;
$blue: #71d5e4;
$green: #a1dbf1;
$lightBlue: #e4f4f3;
$accentColorDarkened: hsl(182, 100%, 25%);

// Colors (meals)
$breakfast: #7dd3dd;
$lunch: #a7c8f7;
$dinner: #e6b8df;

// Fonts
$bodyFont: 'Poppins', sans-serif;
$accentFont: 'Gloria Hallelujah', cursive;
