@import 'styles/variables';

.meal-planner-wrapper {
  background-color: $bgColor;
  height: 100vh;
  overflow-x: hidden;
  padding: 2rem 4rem 2rem 2rem;
}

.meal-planner {
  background-color: $fgColor;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.meal-planner-dashboard {
  display: flex;
  flex: 1;
}
