@import '../../styles/variables';

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  flex: 1;
  color: $bgColor;
  font-family: $accentFont;
  font-weight: bold;
  font-size: 2rem;
}

.nav .icon {
  font-size: 1.5rem;
  margin-left: 1rem;
}
