@import '../../styles/variables';

.header-nav {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.header-logo {
  color: $bgColor;
  flex: 1;
  font-family: $accentFont;
  font-size: 2rem;
  font-weight: bold;
}

.header-nav-actions {
  align-items: center;
  display: flex;

  .icon {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
