@import 'styles/variables';

.header-nav {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.header-nav-logo {
  flex: 1;

  .logo {
    color: $accentColor;
    font-family: $accentFont;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
}

.header-nav-actions {
  align-items: center;
  display: flex;

  .icon {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
