.tooltip {
  background: var(--fontColorBody);
  border-radius: 0.125rem;
  color: var(--fgColor);
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  position: fixed;
  transition: all 0.15s ease-in-out;
  z-index: 100;

  &:after {
    border-bottom: 0.5rem solid var(--fontColorBody);
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    content: '';
    display: block;
    height: 0;
    left: 1rem;
    pointer-events: none;
    position: absolute;
    top: -0.5rem;
    width: 0;
  }
}
