@import './styles/variables';

/* Element */
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $bodyFont;
  min-height: 100vh;
}

button,
input {
  font-family: $bodyFont;
  font-size: 1rem;
}

/* General */
.accent-text {
  color: $accentColor;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.btn {
  border: 2px solid darken($accentColor, 10%);
  box-shadow: 0 0.5rem 0 darken($accentColor, 10%);
  padding: 0.75rem 1rem;
  transition: background-color 0.2s ease-in, filter 0.2s ease-in;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
  }

  &:disabled {
    filter: brightness(0.6);
    pointer-events: none;
  }

  &.btn-primary {
    background-color: $accentColor;
    color: white;
  }
}

.container {
  box-shadow: 0.5rem 0.75rem 0 darken($bgColor, 10%);
  padding: 2rem;
}

.form-box {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;

  .form-box-header {
    color: $accentColor;
    margin-bottom: 1rem;
  }

  .form-box-inputs {
    margin-bottom: 1rem;
  }

  .form-box-footer {
    margin-top: 2rem;
    text-align: center;
  }
}

.hoist {
  animation: hoistIntoPlace 1s ease-in-out forwards;
}

.icon {
  opacity: 0.4;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.input-group {
  padding-bottom: 1.75rem;
  position: relative;

  .error-msg {
    bottom: 0.5rem;
    color: $accentColor;
    font-size: 0.8rem;
    left: 0;
    position: absolute;
  }
}

.input-label {
  color: rgba(0, 0, 0, 0.4);
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.input-with-icon {
  position: relative;

  .input-icon {
    font-size: 1.25rem;
    opacity: 0.6;
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.logo {
  color: $accentColor;
  font-family: $accentFont;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;

  &.big {
    font-size: 4rem;
  }
}

.placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-input {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 0.25rem solid rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  padding: 0.75rem 1rem;
  transition: background-color 0.4s ease-in, border-color 0.4s ease-in;
  width: 100%;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: darken($primaryColor, 10%);
    outline: none;
  }
}

@keyframes hoistIntoPlace {
  0% {
    opacity: 0.1;
    transform: perspective(50vw) rotateX(45deg);
  }
  80% {
    opacity: 0.5;
    transform: perspective(100vw) rotateX(-5deg);
  }
  100% {
    opacity: 1;
    transform: perspective(0) rotateX(0);
  }
}
